{%load static%}
<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed " dir="ltr" data-theme="theme-default"
    data-assets-path={% static 'assets/' %}>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard | Flexcase</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}" />
    
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
    
    <!-- assets/vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    
    <!-- Page CSS -->
    
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    
</head>

<body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">







            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="50" zoomAndPan="magnify" viewBox="0 0 37.5 37.499999" height="50"
                                preserveAspectRatio="xMidYMid meet" version="1.0">
                                <defs>
                                    <clipPath id="9d4242c49c">
                                        <path d="M 2.15625 12 L 30 12 L 30 21 L 2.15625 21 Z M 2.15625 12 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <clipPath id="aeb7d9e8eb">
                                        <path d="M 7 18 L 16 18 L 16 37.007812 L 7 37.007812 Z M 7 18 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <clipPath id="eaf136ef5b">
                                        <path
                                            d="M 7.847656 0 L 35.132812 0 L 35.132812 10 L 7.847656 10 Z M 7.847656 0 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#9d4242c49c)">
                                    <path fill="#3a73c1"
                                        d="M 23.265625 20.410156 L 2.179688 20.410156 L 2.179688 19.175781 C 2.179688 15.734375 4.953125 12.945312 8.371094 12.945312 L 29.460938 12.945312 L 29.460938 14.179688 C 29.460938 17.621094 26.6875 20.410156 23.265625 20.410156 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                                <g clip-path="url(#aeb7d9e8eb)">
                                    <path fill="#3a73c1"
                                        d="M 15.273438 18.886719 L 15.273438 30.039062 C 15.273438 34.160156 11.953125 37.5 7.851562 37.5 L 7.851562 18.886719 L 15.273438 18.886719 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                                <g clip-path="url(#eaf136ef5b)">
                                    <path fill="#51ace4"
                                        d="M 15.273438 0 C 11.175781 0 7.851562 3.339844 7.851562 7.460938 L 7.851562 9.964844 L 15.273438 9.964844 L 15.273438 7.460938 L 27.714844 7.460938 C 31.8125 7.460938 35.132812 4.121094 35.132812 0 L 15.273438 0 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">FlexCase</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item active">
                        <a href="javascript:void(0);" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>


                    <!-- Projects -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Projects</span>
                    </li>
                    <li class="menu-item">
                        <a href="uploadproject.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cloud-upload"></i>
                            <div>Upload Project</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href={% url 'my_projects' %} class="menu-link">
                            <i class="menu-icon tf-icons bx bx-code"></i>
                            <div>My Projects</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="projects.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-globe"></i>
                            <div>Explore Projects</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">User</span>
                    </li>
                    <li class="menu-item">
                        <a href="userprofile.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Profile">Public Profile</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="publicprofile.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-id-card"></i>
                            <div data-i18n="Portfolio">Portfolio</div>
                        </a>
                    <li class="menu-item">
                    <li class="menu-item">
                        <a href="usersetting.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
                            <div data-i18n="Account">Account</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="usersecurity.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                            <div data-i18n="Security">Security</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="userconnection.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-link-alt"></i>
                            <div data-i18n="Connections">Connections</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="logout.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-log-out"></i>
                            <div data-i18n="Logout">Logout</div>
                        </a>
                    </li>

                    </li>
                </ul>
            </aside>
            <!-- / Menu -->



            <!-- Layout container -->
            <div class="layout-page">





                <!-- Navbar -->




                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src={% static "assets/img/avatars/1.png" %} alt
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="usersetting.html">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src={% static 'assets/img/avatars/1.png' %} alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">John Doe</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pages-profile-user.html">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="usersetting.html">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-cover.html" target="_blank">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>

                </nav>



                <!-- / Navbar -->



                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 pt-3 pb-3 container-p-y">



                        <div class="row">
                            <div class="col-lg-8 mb-4 order-0">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-sm-7">
                                            <div class="card-body">
                                                <h5 class="card-title text-primary">Good Evening, John! 🎉</h5>
                                                <p class="mb-4">You have done <span class="fw-bold">72%</span> more
                                                    sales today. Check your new badge in your profile.</p>


                                            </div>
                                        </div>
                                        <div class="col-sm-5 text-center text-sm-left">
                                            <div class="card-body pb-0 px-0 px-md-4">
                                                <img src={% static 'assets/img/illustrations/man-with-laptop-light.png' %}
                                                    height="140" alt="View Badge User"
                                                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                    data-app-light-img="illustrations/man-with-laptop-light.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 order-1">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div
                                                    class="card-title d-flex align-items-start justify-content-between">
                                                    <div class="avatar flex-shrink-0">
                                                        <img src={% static 'assets/img/icons/unicons/bookmark.png' %}
                                                            alt="Credit Card" class="rounded">
                                                    </div>
                                                </div>
                                                <span>Total Post Views</span>
                                                <h3 class="card-title text-nowrap mb-1">55,458</h3>
                                                <small class="text-success fw-semibold"><i
                                                        class='bx bx-up-arrow-alt'></i> +18.42%</small>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div
                                                    class="card-title d-flex align-items-start justify-content-between">
                                                    <div class="avatar flex-shrink-0">
                                                        <img src={% static 'assets/img/icons/unicons/community.png' %}
                                                            alt="Credit Card" class="rounded">
                                                    </div>

                                                </div>
                                                <span>Profile Views</span>
                                                <h3 class="card-title text-nowrap mb-1">4,679</h3>
                                                <small class="text-success fw-semibold"><i
                                                        class='bx bx-up-arrow-alt'></i> +28.42%</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Total Revenue -->
                            <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div
                                                class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                                <div class="card-title">
                                                    <h5 class="text-nowrap mb-2">Profile Views</h5>
                                                    <span class="badge bg-label-warning rounded-pill">Last 10
                                                        Days</span>
                                                </div>
                                                <div class="mt-sm-auto">
                                                    <small class="text-success text-nowrap fw-semibold"><i
                                                            class='bx bx-chevron-up'></i> 18.2%</small>
                                                    <h3 class="mb-0">686</h3>
                                                </div>
                                            </div>
                                            <div id="profileReportChart" style="width: 400px; height: 100px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Total Revenue -->
                            <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                                <div class="row">
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div
                                                    class="card-title d-flex align-items-start justify-content-between">
                                                    <div class="avatar flex-shrink-0">
                                                        <img src={% static 'assets/img/icons/unicons/community.png' %}
                                                            alt="Credit Card" class="rounded">
                                                    </div>

                                                </div>
                                                <span class="d-block mb-1">Your Followers</span>
                                                <h3 class="card-title text-nowrap mb-2">245</h3>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div
                                                    class="card-title d-flex align-items-start justify-content-between">
                                                    <div class="avatar flex-shrink-0">
                                                        <img src={% static 'assets/img/icons/unicons/surface.png' %}
                                                            alt="Credit Card" class="rounded">
                                                    </div>

                                                </div>
                                                <span class="d-block mb-1">Following</span>
                                                <h3 class="card-title text-nowrap mb-2">845</h3>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Employee List -->
                            <div class="col-md-6 col-lg-6 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h5 class="card-title m-0 me-2">Your Followers</h5>

                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/20.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Alberta</h6>
                                                            <small class="text-muted">UI Designer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="secondary" data-series="85">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/3.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Paul</h6>
                                                            <small class="text-muted">Branding</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="warning" data-series="70">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/15.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Nannie</h6>
                                                            <small class="text-muted">iOS Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="primary" data-series="25">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/14.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Rodney</h6>
                                                            <small class="text-muted">iOS Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="danger" data-series="75">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/7.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Martin</h6>
                                                            <small class="text-muted">Product
                                                                Designer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="info" data-series="60">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/18.png' %}lt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Nancy</h6>
                                                            <small class="text-muted">PHP Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Remove</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="warning" data-series="45">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/ Employee List -->

                            <!-- Transactions -->
                            <div class="col-md-6 col-lg-6 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h5 class="card-title m-0 me-2">Following</h5>

                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/20.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Alberta</h6>
                                                            <small class="text-muted">UI Designer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="secondary" data-series="85">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/3.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Paul</h6>
                                                            <small class="text-muted">Branding</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="warning" data-series="70">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/15.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Nannie</h6>
                                                            <small class="text-muted">iOS Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="primary" data-series="25">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/14.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Rodney</h6>
                                                            <small class="text-muted">iOS Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="danger" data-series="75">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-4 pb-1">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/7.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Martin</h6>
                                                            <small class="text-muted">Product
                                                                Designer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="info" data-series="60">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="d-flex">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src={% static 'assets/img/avatars/18.png' %} alt="User" class="rounded">
                                                </div>
                                                <div class="d-flex w-100 align-items-start gap-2">
                                                    <div class="d-flex justify-content-between flex-grow-1 flex-wrap">
                                                        <div>
                                                            <h6 class="mb-0">Nancy</h6>
                                                            <small class="text-muted">PHP Developer</small>
                                                        </div>

                                                        <div class="user-progress d-flex align-items-center gap-2">
                                                            <a href="javascript:;"
                                                                class="btn btn-sm btn-label-danger">Unfollow</a>
                                                        </div>
                                                    </div>

                                                    <div class="chart-progress" data-color="warning" data-series="45">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/ Transactions -->
                            <!-- Shared Event -->



                        </div>
                    </div>

                </div>
                <!-- </div>
    <div class="row"> -->





                <!-- / Content -->




                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            , made with ❤️ by Flexcase Team
                        </div>

                    </div>
                </footer>
                <!-- / Footer -->


                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>



    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>


    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    </div>
    <!-- / Layout wrapper -->


 <!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

<script src="{% static 'assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendor JS -->
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>


</body>

</html>