{%load static%}
<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed " dir="ltr" data-theme="theme-default"
    data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Upload Project | Flexcase</title>


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/tagify/tagify.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/dropzone/dropzone.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/animate-css/animate.css' %}" />

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css" /> -->


    <style>
        .tagify {
            width: 100%;
            max-width: 700px;
        }

        .tags-look .tagify__dropdown__item {
            display: inline-block;
            border-radius: 3px;
            padding: .3em .5em;
            border: 1px solid #CCC;
            background: #F3F3F3;
            margin: .2em;
            font-size: .85em;
            color: black;
            transition: 0s;
        }

        .tags-look .tagify__dropdown__item--active {
            color: black;
        }

        .tags-look .tagify__dropdown__item:hover {
            background: lightyellow;
            border-color: gold;
        }
        .imagePreview {
            width: 100%;
            height: 180px;
            background-position: center center;
          background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
          background-color:#fff;
            background-size: cover;
          background-repeat:no-repeat;
            display: inline-block;
          box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
        }
        .btn-primary
        {
          display:block;
          border-radius:0px;
          box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
          margin-top:-5px;
        }
        .imgUp
        {
          margin-bottom:15px;
        }
        .del
        {
          position:absolute;
          top:0px;
          right:15px;
          width:30px;
          height:30px;
          text-align:center;
          line-height:30px;
          background-color:rgba(255,255,255,0.6);
          cursor:pointer;
        }
    </style>
    <!-- Page CSS -->

    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'assets/js/config.js' %}"></script>

</head>

<body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">







            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="{% url 'home_page' %}" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="50" zoomAndPan="magnify" viewBox="0 0 37.5 37.499999" height="50"
                                preserveAspectRatio="xMidYMid meet" version="1.0">
                                <defs>
                                    <clipPath id="9d4242c49c">
                                        <path d="M 2.15625 12 L 30 12 L 30 21 L 2.15625 21 Z M 2.15625 12 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <clipPath id="aeb7d9e8eb">
                                        <path d="M 7 18 L 16 18 L 16 37.007812 L 7 37.007812 Z M 7 18 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <clipPath id="eaf136ef5b">
                                        <path
                                            d="M 7.847656 0 L 35.132812 0 L 35.132812 10 L 7.847656 10 Z M 7.847656 0 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#9d4242c49c)">
                                    <path fill="#3a73c1"
                                        d="M 23.265625 20.410156 L 2.179688 20.410156 L 2.179688 19.175781 C 2.179688 15.734375 4.953125 12.945312 8.371094 12.945312 L 29.460938 12.945312 L 29.460938 14.179688 C 29.460938 17.621094 26.6875 20.410156 23.265625 20.410156 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                                <g clip-path="url(#aeb7d9e8eb)">
                                    <path fill="#3a73c1"
                                        d="M 15.273438 18.886719 L 15.273438 30.039062 C 15.273438 34.160156 11.953125 37.5 7.851562 37.5 L 7.851562 18.886719 L 15.273438 18.886719 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                                <g clip-path="url(#eaf136ef5b)">
                                    <path fill="#51ace4"
                                        d="M 15.273438 0 C 11.175781 0 7.851562 3.339844 7.851562 7.460938 L 7.851562 9.964844 L 15.273438 9.964844 L 15.273438 7.460938 L 27.714844 7.460938 C 31.8125 7.460938 35.132812 4.121094 35.132812 0 L 15.273438 0 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">FlexCase</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item">
                        <a href="{% url  'dashboard'%}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>


                    <!-- Projects -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Projects</span>
                    </li>
                    <li class="menu-item active">
                        <a href="javascript:void(0);" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-cloud-upload"></i>
                            <div>Upload Project</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'my_projects' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-code"></i>
                            <div>My Projects</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="projects.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-globe"></i>
                            <div>Explore Projects</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">User</span>
                    </li>
                    <li class="menu-item">
                        <a href="userprofile.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Profile">Public Profile</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="publicprofile.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-id-card"></i>
                            <div data-i18n="Portfolio">Portfolio</div>
                        </a>
                    <li class="menu-item">
                    <li class="menu-item">
                        <a href="{% url 'settings' source='account' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
                            <div data-i18n="Account">Account</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url  'settings' source="account"%}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                            <div data-i18n="Security">Security</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url  'settings' source="connections"%}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-link-alt"></i>
                            <div data-i18n="Connections">Connections</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'logout' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-log-out"></i>
                            <div data-i18n="Logout">Logout</div>
                        </a>
                    </li>

                    </li>
                </ul>
            </aside>
            <!-- / Menu -->



            <!-- Layout container -->
            <div class="layout-page">





                <!-- Navbar -->



                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{profile_model.profileimg.url}}" alt
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="usersetting.html">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{% static 'assets/img/avatars/1.png' %}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">John Doe</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pages-profile-user.html">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="usersetting.html">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-cover.html" target="_blank">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>

                </nav>


                <!-- / Navbar -->



                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">


                        <h4 class="fw-bold py-3 mb-4">
                            <span class="text-muted fw-light">Upload Project</span>
                        </h4>
                     <form action="" method="POST" enctype="multipart/form-data">
   <!-- Default -->
                        <div class="card mb-4">
                            <h5 class="card-header"></h5>
                            <div class="card-body">
                                <h5>1. Project Details</h5>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="title">Title</label>
                                        <input type="text" id="title" class="form-control" placeholder="Flexcase" name="title" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="techStack" class="form-label">Tech Stack</label>
                                        <input name='tags' class='form-control' placeholder='TechStack | Type to Search'
                                            value='Css, Html, Javascript'>

                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="shordesc">Short Description</label>
                                        <input type="text" id="shordesc"
                                            class="form-control bootstrap-maxlength-example"
                                            placeholder="Project Tagline / Short Description | Maximum Limit 150"
                                            name="short_description"
                                            maxlength="150" />
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="longdesc">Long Description</label>
                                        <textarea id="autosize-demo" rows="6"
                                            class="form-control bootstrap-maxlength-example" maxlength="2000" name="long_description"
                                            placeholder="Long Description of the project | Maximum Limit 2000"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Multi  -->
                            <div class="col-12">
                                <div class="card">
                                    <h5 class="card-header">2. Project Screenshots 📸</h5>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                            <div class="col-sm-2 imgUp">
                                              <div class="imagePreview"></div>
                                          <label class="btn btn-primary">
                                                                                                  Upload<input type="file" name="image_1" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                          </label>
                                            </div>
                                            <div class="col-sm-2 imgUp">
                                                <div class="imagePreview"></div>
                                            <label class="btn btn-primary">
                                                                                                    Upload<input type="file" name="image_1" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                            </label>
                                              </div>
                                              <div class="col-sm-2 imgUp">
                                                <div class="imagePreview"></div>
                                            <label class="btn btn-primary">
                                                                                                    Upload<input type="file" name="image_1" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                            </label>
                                              </div><!-- col-2 -->
                                           </div><!-- row -->
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card mb-4">
                            <h5 class="card-header"></h5>
                            <div class="card-body">
                                <h5>3. Project Links</h5>
                                <div class="row">
                                    <div class="mb-3 col-md-6 form-password-toggle">
                                        <label class="form-label" for="youtube">Youtube Video</label>
                                        <input type="text" id="linkedin" class="form-control" name="youtube_link"
                                            placeholder="Youtube Video Embeded Link"  />
                                    </div>
                                    <div class="mb-3 col-md-6 form-password-toggle">
                                        <label class="form-label" for="Deployed">Live Website</label>
                                        <input type="text" id="Deployed" class="form-control" name="website_link"
                                            placeholder="https://flexcase.tech" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6 form-password-toggle">
                                        <label class="form-label" for="github">GitHub</label>
                                        <input type="text" id="github" class="form-control" name="github_link"
                                            placeholder="https://github.com/flexcase" />
                                    </div>


                                    <div class="mb-3 col-md-6 form-password-toggle">
                                        <label class="form-label" for="custom">Custom Link</label>
                                        <input type="text" id="custom" class="form-control" name="custom_link"
                                            placeholder="https://customlink.com" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1 submit" onclick="submitForms()">Submit</button>
                            <button type="reset" class="btn btn-label-secondary">Cancel</button>
                        </div>
                    </form>
                        <!-- Modern -->
                        {% comment %} <div class="bs-toast toast fade show bg-success" role="alert" aria-live="assertive"
                            aria-atomic="true">
                            <div class="toast-header">
                                <i class='bx bx-bell me-2'></i>
                                <div class="me-auto fw-semibold">FlexCase</div>
                                <small>0 mins ago</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Project has been successfully uploaded.
                            </div>
                        </div> {% endcomment %}


                    </div>
                    <!-- / Content -->




                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                , made with ❤️ by Flexcase Team
                            </div>

                        </div>
                    </footer>
                    <!-- / Footer -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>



        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>

    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    {% comment %} <script src="{% static 'assets/js/forms-tagify.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.1.1/dist/tagify.min.js"></script>
    {% comment %} <script>
        function submitForms() {
            // Get references to the forms
            var form1 = document.getElementById('form1');
            var dropzoneMulti = document.getElementById('dropzone-multi');
            var form2 = document.getElementById('form2');
          
            // Get the form data
            var formData1 = new FormData(form1);
            var formData2 = new FormData(dropzoneMulti);
            var formData3 = new FormData(form2);
          
            // Combine the form data
            var formDataCombined = new FormData();
            formDataCombined.append('form1', formData1);
            formDataCombined.append('dropzoneMulti', formData2);
            formDataCombined.append('form2', formData3);
          
            // Submit the combined form data
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '');
            xhr.send(formDataCombined);
          }
          
    </script> {% endcomment %}
    <script>
        var input = document.querySelector('input[name="tags"]');

        var whitelist = ["Java",
            "Python",
            "JavaScript",
            "PHP",
            "Ruby",
            "C++",
            "C#",
            "Swift",
            "Kotlin",
            "TypeScript",
            "Rust",
            "Go",
            "HTML",
            "CSS",
            "React",
            "Angular",
            "Vue.js",
            "Node.js",
            "Django",
            "Flask",
            "Rails",
            "Laravel",
            "Spring Boot",
            ".NET",
            "Express.js",
            "MongoDB",
            "MySQL",
            "PostgreSQL",
            "Oracle",
            "Redis",
            "Cassandra",
            "Elasticsearch",
            "Kafka",
            "RabbitMQ",
            "Apache Spark",
            "Hadoop",
            "Docker",
            "Kubernetes",
            "Jenkins",
            "Travis CI",
            "Git",
            "GitHub",
            "Bitbucket",
            "Jira",
            "Trello",
            "Slack",
            "Zoom",
            "Google Meet",
            "Microsoft Teams",
            "AWS Lambda",
            "AWS EC2",
            "AWS S3",
            "AWS RDS",
            "AWS DynamoDB",
            "Google Cloud Functions",
            "Google Cloud Compute Engine",
            "Google Cloud Storage",
            "Google Cloud SQL",
            "Microsoft Azure Functions",
            "Microsoft Azure Virtual Machines",
            "Microsoft Azure Storage",
            "Microsoft Azure SQL Database",
            "Heroku",
            "DigitalOcean",
            "Linode",
            "Firebase",
            "Twilio",
            "Stripe",
            "PayPal",
            "Braintree",
            "Square",
            "Google Analytics",
            "Mixpanel",
            "Segment",
            "Optimizely",
            "Intercom",
            "Zendesk",
            "Salesforce",
            "HubSpot",
            "Mailchimp",
            "SendGrid",
            "Twilio SendGrid",
            "Postman",
            "Insomnia",
            "Swagger",
            "GraphQL",
            "RESTful API",
            "OAuth",
            "JWT",
            "OpenID Connect",
            "JSON",
            "XML",
            "YAML",
            "Docker Compose",
            "Ansible",
            "Chef",
            "Puppet",
            "Terraform",
            "Nagios",
            "Prometheus",
            "Erlang",
            "Elixir",
            "Haskell",
            "Scala",
            "Clojure",
            "R",
            "Julia",
            "Lua",
            "Assembly",
            "CUDA",
            "OpenGL",
            "WebGL",
            "Vulkan",
            "Qt",
            "Ember.js",
            "Backbone.js",
            "Mithril",
            "Meteor",
            "Svelte",
            "Next.js",
            "Gatsby",
            "Nuxt.js",
            "FastAPI",
            "Flask-RESTful",
            "ASP.NET Core",
            "Sinatra",
            "NestJS",
            "Feathers",
            "GraphQL Yoga",
            "Prisma",
            "FaunaDB",
            "Couchbase",
            "Amazon Redshift",
            "Google BigQuery",
            "Apache Flink",
            "Apache Storm",
            "Apache Beam",
            "Apache NiFi",
            "Apache Airflow",
            "HashiCorp Vault",
            "HashiCorp Consul",
            "HashiCorp Nomad",
            "Apache ZooKeeper",
            "Cypress",
            "Jest",
            "TestCafe",
            "Pact",
            "WireMock",
            "Appium",
            "Selenium",
            "Puppeteer",
            "Jupyter Notebook",
            "Streamlit",
            "Bokeh",
            "Plotly.js",
            "OpenCV",
            "TensorFlow.js",
            "PyTorch.js",
            "Dialogflow",
            "Amazon Lex",
            "Wit.ai",
            "Rasa",
            "Twilio Autopilot",
            "ChatterBot",
            "Botpress",
            "Socket.IO",
            "PeerJS",
            "WebRTC",
            "STUN",
            "TURN",
            "Truffle",
            "Embark",
            "Hardhat",
            "Brownie",
            "Chainlink",
            "OrbitDB",
            "IPFS",
            "Filecoin",
            "Zcash"];

        var tagify = new Tagify(input, {
            whitelist: whitelist,
            maxTags: 10,
            dropdown: {
                maxItems: 20,
                classname: "tags-look",
                enabled: 0,
                closeOnSelect: false
            }
        })


    </script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script>
    $(".imgAdd").click(function(){
        $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
      });
      $(document).on("click", "i.del" , function() {
      // 	to remove card
        $(this).parent().remove();
      // to clear image
        // $(this).parent().find('.imagePreview').css("background-image","url('')");
      });
      $(function() {
          $(document).on("change",".uploadFile", function()
          {
                  var uploadFile = $(this);
              var files = !!this.files ? this.files : [];
              if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
       
              if (/^image/.test( files[0].type)){ // only image file
                  var reader = new FileReader(); // instance of the FileReader
                  reader.readAsDataURL(files[0]); // read the local file
       
                  reader.onloadend = function(){ // set image data as background of div
                      //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
      uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url("+this.result+")");
                  }
              }
            
          });
      });
    </script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
  <script>
    var a = `<div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-thumbnail">
        <img data-dz-thumbnail>
        <span class="dz-nopreview">No preview</span>
        <div class="dz-success-mark"></div>
        <div class="dz-error-mark"></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
        </div>
      </div>
      <div class="dz-filename" data-dz-name></div>
      <div class="dz-size" data-dz-size></div>
    </div>
  </div>`;
  
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function () {
      // Instantiate a new Dropzone object on the dropzone-multi element
      var myDropzone = new Dropzone("#dropzone-multi", {
        previewTemplate: a,
        parallelUploads: 1,
        maxFilesize: 5,
        addRemoveLinks: true,
      });
    });
  </script> {% endcomment %}

  <script src="{% static 'assets/vendor/libs/dropzone/dropzone.js' %}"></script>
  <script src="{% static 'assets/js/forms-file-upload.js' %}"></script>

  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

  <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/autosize/autosize.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/bloodhound/bloodhound.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'assets/js/forms-selects.js' %}"></script>
  <!-- <script src="{% static 'assets/js/forms-tagify.js' %}"></script> -->
  <script src="{% static 'assets/js/forms-typeahead.js' %}"></script>
  <script src="{% static 'assets/js/form-wizard-validation.js' %}"></script>

</body>

</html>